h1 {
	color: white;
}

body {
	background-image: url('../Graphics/Checkers.png');
}

.emulatorBlock {
	background-color: white;
	background-size: 100% 100%;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	font-size: 72pt;
	text-align: center;
	height: 15%;
	width: 30%;
	border-radius: 10%;
}

.romBlock {
	background-color: white;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 70%;
	top: 50%;
	font-size: 72pt;
	text-align: center;
	border-radius: 10%;
	width: 50%;
	height: 80%;
}
