.config-pane {
    border-radius: 30px;
    background-color: #D6EAF8;
    margin: 20px 40px 0 40px;

    box-shadow: 10px 10px 10px 10px #888;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.btn {
    margin: 20px;
}