/* Used for rom title & subtitle */
h1, h2 {
	color: black;
	text-align: center;
	margin: 0%;
	font-size: 1.8vw;
	font-family: pixeledregular;
}

/* Used for rom description */
p {
	color: black;
	text-align: center;
	font-size: 1.5vw;
	font-family: 'VCR OSD Mono';
	margin: 0%;
	padding: 2%;
}

body {
	background-image: url('../images/background.png');
}

.emulatorBlock {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% 100%;
	position: fixed;
	transform: translate(-50%, -50%);
	left: 50%;
	height: 15vh;
	width: 30vh;
	border-radius: 10%;
	box-shadow: 10px 10px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: rgba(0,0,0,1);
	border-width: 5px;
}

.romBlock {
	background-image: url('../images/background.png');
	position: fixed;
	transform: translate(-50%, -50%);
	left: 70%;
	top: 50%;
	font-size: 72pt;
	text-align: center;
	border-radius: 10%;
	width: 50%;
	height: 80%;
	display: flex;
	flex: auto;
	flex-direction: column;
	box-shadow: 10px 10px rgba(0,0,0,0.5);
	border-style: solid;
	border-color: rgba(0,0,0,1);
	border-width: 5px;
	overflow: hidden;
}

.romMedia {
	background-size: 100% 100%;
	width: 80%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	border-style: solid;
	border-color: rgba(0,0,0,1);
	border-width: 5px;
}

.romCounter {
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0%);
	left: 50%;
}
