h1 {
	color: black;
	text-align: center;
	margin: 0%;
	font-size: 24pt;
	font-family: pixeledregular;
}

p, h2 {
	color: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 14pt;
	font-family: 'VCR OSD Mono';
	margin: 0%;
	padding: 2%;
}

.flexContainer {
	position: fixed;
	transform: translate(-50%, -50%);
	top: 50%;
	text-align: center;
	width: 80%;
	left: 50%;
	height: 100%;
	display: flex;
	flex: auto;
	flex-direction: column;
	overflow: hidden;
}
