h1 {
	color: black;
	text-align: center;
	margin: 0%;
	font-size: 24pt;
	font-family: pixeledregular;
}

p, h2 {
	color: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 14pt;
	font-family: 'VCR OSD Mono';
	margin: 0%;
	padding: 2%;
}

.tableContainer {
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex: auto;
	flex-direction: column;
}

button {
	min-height: 4%;
	margin-top: 2%;
}
